.auth-container {
  width: 350px;
  margin: 80px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  text-align: center;
}

.auth-container input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.auth-container button {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  background: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-container button:hover {
  opacity: 0.8;
}

.error {
  color: red;
  font-size: 14px;
}

.msg {
  color: green;
  font-size: 14px;
}
