
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}


.home {
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}


.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 60px 20px;
  background: url("https://images.unsplash.com/photo-1555215695-3004980ad54e")
    no-repeat center center / cover;
  position: relative;

  animation: zoomBackground 30s infinite alternate;
}


@keyframes zoomBackground {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(42, 35, 35, 0.668);
  z-index: 0;
}


.hero-text {
  position: relative;
  z-index: 1;
  max-width: 700px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text h1 {
  font-size: clamp(1.7rem, 10vw, 3rem);
  line-height: 1.2;
  color: #57b1e4;
}

.hero-text p {
  margin-top: 20px;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #f2f2f2;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 1.2s forwards;
  animation-delay: 0.5s;
}


.buttons {
  margin-top: 30px;
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}


.btn-fill,
.btn-outline {
  padding: 14px 36px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s forwards;
}


.btn-fill {
  animation-delay: 0.8s;
}
.btn-outline {
  animation-delay: 1s;
}


.btn-fill {
  background: #71bff3;
  color: #222;
  border: none;
}

.btn-fill:hover {
  background: #d7f4f7;
  transform: scale(1.1) translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


.btn-outline {
  background: transparent;
  border: 2px solid #7ec9f4;
  color: #7ec9f4;
}

.btn-outline:hover {
  background: #59bbf4;
  color: #222;
  transform: scale(1.1) translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


@keyframes floatBtn {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

.btn-fill:hover,
.btn-outline:hover {
  animation: floatBtn 1s infinite alternate;
}


@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }

  .btn-fill,
  .btn-outline {
    width: 100%;
    max-width: 260px;
  }
}
