
.login-wrapper {
  display: flex;
  min-height: calc(100vh - 70px);
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  row-gap: 50px;
background: linear-gradient(135deg, #d2e9f6, #083850);
  opacity: 0;
  animation: fadeInWrapper 1s forwards;
}

@keyframes fadeInWrapper {
  to { opacity: 1; }
}


.login-image h1 {
  font-size: 2rem;
  color: black;
  margin-bottom: 5px;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.8s forwards;
  animation-delay: 0.2s;
}

.login-image p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1rem;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.8s forwards;
  animation-delay: 0.4s;
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-box {
  background: #fff;
  padding: 40px;
  width: 100%;
  max-width: 380px;
  border-radius: 10px;
  box-shadow: 0 0 5px #7ec9f4;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s forwards;
  animation-delay: 0.6s;
}

.login-box h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #1f8ece;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.8s forwards;
  animation-delay: 0.8s;
}


.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #97d9f8;
  box-shadow: 0 0 5px #7ec9f4;
  transition: all 0.3s ease;
}


.login-box input:focus {
  border-color: #3f9cd2;
  box-shadow: 0 0 10px #7ec9f4;
  outline: none;
  transform: scale(1.02);
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #7ec9f4;
  color: black;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 0 10px #7ec9f4;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s forwards;
  animation-delay: 1s;
}

.login-box button:hover {
  background: #30c8aa;
  transform: scale(1.05);
  box-shadow: 0 0 20px #7ec9f4;
}
.register-text a {
  color: #1f8ece;
  font-weight: 600;
  text-decoration: none;
}


.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
  opacity: 0;
  animation: fadeInError 0.5s forwards;
}

@keyframes fadeInError {
  to { opacity: 1; }
}


.register-text {
  margin-top: 15px;
  text-align: center;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.8s forwards;
  animation-delay: 1.2s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .login-wrapper {
    row-gap: 30px;
    padding: 15px;
  }

  .login-container {
    flex: none;
  }
}
