.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.register-box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-box button {
  width: 100%;
  padding: 10px;
  background: #198754;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-box button:hover {
  background: #146c43;
}
