.cars-container {
  padding: 20px;
  background: linear-gradient(135deg, #d2e9f6, #083850);
  
}

.cars-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.car-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
border:1px solid rgb(21, 164, 221);
   background-color: white;
  box-shadow: 0 4px 8px rgba(177, 180, 181, 0.912);
}

.car-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.car-card button {
  margin-top: 10px;
  padding: 8px 15px;
  background:rgb(36, 143, 36);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.car-card button:hover {
  background: #0056b3;
}
