.profile-page {
  padding: 30px;
 background: linear-gradient(135deg, #d2e9f6, #083850);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.profile-page h2 {
  margin-bottom: 25px;
}

.profile-card {
  background: white;
  width: 350px;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.profile-avatar {
  width: 80px;
  height: 80px;
  background: linear-gradient(135deg, #4f46e5, #3b82f6);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-info p {
  margin: 10px 0;
  color: #374151;
}

.edit-btn {
  margin-top: 20px;
  padding: 10px 18px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.edit-btn:hover {
  background: #1d4ed8;
}
.profile-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.save-btn {
  background: #16a34a;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-btn {
  background: #dc2626;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}
