.user-dashboard {
  padding: 30px;
 background: linear-gradient(135deg, #d2e9f6, #083850);
  min-height: 100vh;
  font-family: Arial, sans-serif;
}


.welcome-card {
 
  color: black;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 35px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.welcome-card h2 {
  margin: 0;
  font-size: 36px;
  
}

.welcome-card p {
  margin-top: 8px;
  opacity: 0.9;
}


.actions {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.action-card {
  background: white;
  width: 230px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(72, 169, 207, 0.918);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
   border:2px solid rgb(93, 179, 228)
}

.action-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.15);
}

.action-card h3 {
  margin-bottom: 10px;
  color: #111827;
}

.action-card p {
  color: #6b7280;
  font-size: 14px;
}


.info {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  border:2px solid rgb(93, 179, 228)
}

.info h3 {
  margin-bottom: 15px;
}

.info ul {
  padding-left: 20px;
}

.info li {
  margin-bottom: 10px;
  color: #0a9ebf;
}
