
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #0b405e;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.logo {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}


.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}


.nav-right {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-right li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.nav-right li a:hover {
  background-color: rgba(255,255,255,0.2);
}


.logout-btn {
  background-color: #ff4d4f;
  border: none;
  padding: 8px 15px;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background-color: #d9363e;
}


@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .nav-right {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #0b426c27;
    flex-direction: column;
    width: 200px;
    padding: 20px 0;
    gap: 15px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    border-radius: 8px 0 0 8px;
    color:white;
  }

  .nav-right.active {
    transform: translateX(0);
  }

  .nav-right li a {
    padding: 10px 20px;
    width: 100%;
    color:black;
    font-size: 15px;
    font-weight: bold;
  }

  .logout-btn {
    width: 90%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}
