.admin-dashboard {
  padding: 30px;
background: linear-gradient(135deg, #d2e9f6, #083850);
  min-height: 100vh;
}


.admin-dashboard h2 {
  text-align: center;
  margin-bottom: 5px;
}

.sub-text {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}


.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(55, 170, 208, 0.79);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #555;
}

.card p {
  font-size: 26px;
  font-weight: bold;
  color: #00aaff;
}


.card.clickable {
  cursor: pointer;
}

.card.clickable:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(63, 195, 239, 0.71);
}


.graph-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border: 1px solid rgb(64, 166, 234);
}

.graph-card h3 {
  margin-bottom: 15px;
  text-align: center;
  color: #444;
}
